body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(../images/backgroung-img.jpg);
    padding: 20px;
  }
  
  /* .login-background{ */
    /* background-image: url(../images/backgroung-img.jpg); */
  /* } */
  .login-container {
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 184px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
 }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }